.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--clr-grey-10);
  z-index: 2;
  opacity: 1;
  transition: var(--transition);
}
.closeSidebar {
  transform: translateX(-100%);
  opacity: 0;
  z-index: 0;
}
.header {
  padding: 2rem 2rem;
  display: flex;
  justify-content: flex-end;
}
.movingHeader {
  padding: 1rem 2rem;
}

.closeBtn {
  border: none;
  display: inline-block;
  text-transform: capitalize;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  transition: var(--transition);
  cursor: pointer;
  color: var(--clr-red-dark);
  outline-color: var(--clr-red-light);
  background: transparent;
}
.closeIcon {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
.closeBtn:hover {
  color: var(--clr-red-light);
}
.linksContainer {
  margin-top: -4.875rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link {
  display: block;
  font-size: 2rem;
  text-transform: capitalize;
  padding: 0.2rem 3rem;
  margin: 0.5rem 0;
  text-align: center;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  color: var(--clr-grey-5);
}
.link:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);
  box-shadow: -0.25rem 0 var(--clr-primary);
}
